@page
@model CustomerModel
@{
    Layout = "_DashboardLayout";
}
<div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    @Model.CustomerFirstName @Model.CustomerLastName
                </h5>
                <div>
                    <ul>
                        <li>Adress: @Model.CustomerAdress</li>
                        <li>City: @Model.CustomerCity</li>
                        <li>Zipcode: @Model.CustomerZipcode</li>
                        <li>Country: @Model.CustomerCountry</li>
                        <li>Email: @Model.CustomerMail</li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<div>
    <a class="btn btn-secondary"
       asp-page="/Customers/Customers">
        Back
    </a>
</div>