@page
@model CustomerModel
@{
}

<tr>
    <div class="right-side">
    <td>@Model.CustomerFirstName</td>
    <td>@Model.CustomerLastName</td>
    </div>
    <div class="left-side>   
    <td>@Model.CustomerAdress</td>
    <td>@Model.CustomerCity</td>
    <td>@Model.CustomerZipcode</td>
    <td>@Model.CustomerCountry</td>
    <td>@Model.CustomerMail</td>
    </div>
</tr>